body {
    background-color: rgb(253, 184, 54);
}

form {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;

    .search-field {
        border: none;
        color: white;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        margin-top: 30px;
        color: grey;
    }

    .list-container {
        list-style: none;
        padding-left: 0;
        background-color: white;

        .list-item {
            border: 1px solid rgb(177, 177, 177);
            color: grey;
            padding: 10px;
        }

        .population {
            float: right;
        }
    }
}
